@import 'ngx-toastr/toastr';
/* @import '../node_modules/@angular/material/prebuilt-themes/azure-blue.css' */
body{
   overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}